<body>
    <mat-toolbar  class="header">
        <mat-icon matTooltip="Tipo de usuario: {{ userType }}" class="info-icon">info</mat-icon>
        <button mat-button (click)="logout()">Cerrar sesión</button>
        <span class="username">{{ userName }}</span>
    </mat-toolbar>
      
    <div class="main-content">
        <h1>Bienvenido</h1>
        <p>Haz click en alguna de las funciones principales para acceder.</p>
    </div>
    <div class="modules">
        <!-- Nuevo Turno Card -->
        <mat-card class="example-card" appearance="outlined" *ngIf="userType=='Paciente'" (click)="nuevoTurno()">
          <mat-card-header>
            <mat-card-title-group>
              <!-- Icono de agregar -->
              <mat-card-title>
                <div class="icon-text-wrapper">
                    <mat-icon [style.fontSize.px]="48">add_circle</mat-icon>
                    <span class="aligned-text">Nuevo turno</span>
                  </div>
              </mat-card-title>
              <mat-card-subtitle>Solicitar un nuevo turno con algún especialista</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
    
        <!-- Mis Turnos Card -->
        <mat-card class="example-card" appearance="outlined" *ngIf="userType=='Paciente'">
            <mat-card-header>
              <mat-card-title-group>
                <!-- Icono de visualizar -->
                <mat-card-title>
                  <div class="icon-text-wrapper">
                    <mat-icon [style.fontSize.px]="48" class="aligned-icon">visibility</mat-icon>
                    <span class="aligned-text">Mis turnos</span>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>Ver los turnos solicitados</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
    
        <!-- Mis Datos Personales Card -->
        <mat-card class="example-card" appearance="outlined" *ngIf="userType=='Paciente'">
          <mat-card-header>
            <mat-card-title-group>
              <!-- Icono de usuario -->
              <mat-card-title>
                <div class="icon-text-wrapper">
                    <mat-icon [style.fontSize.px]="48">account_box</mat-icon>
                    <span class="aligned-text">Mis datos</span>
                  </div>
              </mat-card-title>
              <mat-card-subtitle>Ver y modificar tus datos personales</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
        </mat-card>
      </div>
    
    <div class="footer" style="background-color: rgb(255, 245, 225); flex-shrink: 0;">
        <span class="footer-item">Dirección: Tucuman 2721</span>
        <span class="footer-item">Teléfono: (0342) 452-5658</span>
        <span class="footer-item">Email: contactoiessantafe.edu.ar</span>
    
        <div class="footer-content"> 
            <span class="footer-item">
              Redes Sociales: 
              <a href="https://www.facebook.com" target="_blank" class="social-icon">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.twitter.com" target="_blank" class="social-icon">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com" target="_blank" class="social-icon">
                  <i class="fab fa-instagram"></i>
              </a>
            </span>
        </div>
    </div>
      
</body>