.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  .username {
    font-size: 18px;
    color: rgb(5, 140, 66);
    margin-left: auto; 
  }
  
  .spacer {
    flex: 1;
  }
  
  .info-icon {
    cursor: pointer;
    margin-left: 16px; 
    color: rgb(5, 140, 66);
  }
  
  .main-content {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
  }
  .footer {
    display: flex;
    justify-content: space-evenly; /* Espacia los elementos */
    align-items: center; /* Centra verticalmente */
    padding: 16px; /* Espacio interno */
    font-size: 14px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
  }
  
  .footer-content {
    display: flex; /* Asegúrate de que los enlaces se distribuyan en línea */
    align-items: center; /* Centra verticalmente los enlaces */
  }
  
  .footer-content a {
    color: #07ad39; /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
    font-size: 20px; /* Aumenta el tamaño de la fuente para los enlaces */
    margin: 0 10px; /* Espacio horizontal entre los enlaces */
  }
  
  .footer-content a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
    color: #018f2c; /* Color deseado para el hover */
  }

  .modules {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .example-card {
    width: 300px;
    cursor: pointer;
  }
  
  mat-card {
    transition: transform 0.2s ease-in-out;
  }
  
  .mat-card-title mat-icon {
    line-height: 1;
    vertical-align: middle;
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .mat-card-title {
    display: flex;
    align-items: center;
  }

  mat-icon {
    width: 48px;
    height: 48px;
    font-size: 48px; /* Asegúrate que el tamaño coincida */
  }

  mat-card:hover {
    transform: scale(1.05);
  }

  .icon-text-wrapper {
    display: flex;
    align-items: center; /* Alinea verticalmente el ícono y el texto */
  }
  
  .aligned-icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .aligned-text {
    font-size: 24px; /* Ajusta el tamaño del texto para que sea más proporcional al ícono */
  }