<app-navbar></app-navbar>
<body>

  <div class="main-content">
      <h1>Bienvenido</h1>
      <p>Haz click en alguna de las funciones principales para acceder.</p>
  </div>

  <div class="modules">
      <!-- Nuevo Turno Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='paciente'" (click)="nuevoTurno()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">add_circle</mat-icon>
                          <span class="aligned-text">Nuevo turno</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Solicitar un nuevo turno con algún especialista</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Mis Turnos Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='paciente'" (click)="abrirMisTurnos()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">visibility</mat-icon>
                          <span class="aligned-text">Mis turnos</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Ver los turnos solicitados</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Mis Datos Personales Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='paciente'" (click)="misDatos()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">account_box</mat-icon>
                          <span class="aligned-text">Mis datos</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Ver y modificar tus datos personales</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Lista usuarios Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='administrador'" (click)="abrirListaUsuario()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">account_box</mat-icon>
                          <span class="aligned-text">Lista de usuarios</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>ABM Usuario</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Turnos programados Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='medico'" (click)="abrirTurnosProgramados()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">visibility</mat-icon>
                          <span class="aligned-text">Turnos programados</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Ver los turnos solicitados</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Gestion de agenda Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='medico'" (click)="abrirGestionAgenda()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">add_circle</mat-icon>
                          <span class="aligned-text">Gestion de agenda</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Alta de los dias y horarios disponibles</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <!-- Crear paciente Card -->
      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='operador' || rol=='administrador'" (click)="abrirCrearPaciente()">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">add_circle</mat-icon>
                          <span class="aligned-text">{{this.tituloCrear}}</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle *ngIf="rol == 'administrador'">Alta de usuario</mat-card-subtitle>
                  <mat-card-subtitle *ngIf="rol == 'operador'">Alta de paciente</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <form [formGroup]="horarios">
        <mat-form-field>
            <input matInput [matDatepicker]="picker" formControlName="fecha">
            
            <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            
        </mat-form-field>
        <button mat-button (click)="obtenerAgenda('')">Buscar</button>
    </form>

    <div class="horarios-medicos">
        <table mat-table class="mat-elevation-z8" [dataSource]="agenda">
            
            <ng-container matColumnDef="nombre_medico">
                <th mat-header-cell *matHeaderCellDef> Nombre Medico </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha }} </td>
            </ng-container>
            
            <ng-container matColumnDef="especialidad">
                <th mat-header-cell *matHeaderCellDef> Especialidad </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
            
            <ng-container matColumnDef="horario_atencion">
              <th mat-header-cell *matHeaderCellDef> Horario de Atencion</th>
              <td mat-cell *matCellDef="let element"> {{element.horario_atencion}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element"><mat-icon class="mat-icon-size">visibility</mat-icon>
                </td>
              </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

      <!-- <mat-card class="example-card" appearance="outlined" *ngIf="rol=='operador'">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">edit</mat-icon>
                          <span class="aligned-text">Asignar turnos</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Asignar turnos</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card>

      <mat-card class="example-card" appearance="outlined" *ngIf="rol=='operador'">
          <mat-card-header>
              <mat-card-title-group>
                  <mat-card-title>
                      <div class="icon-text-wrapper">
                          <mat-icon class="mat-icon-size">visibility</mat-icon>
                          <span class="aligned-text">Agenda medico</span>
                      </div>
                  </mat-card-title>
                  <mat-card-subtitle>Modificar la agenda del medico</mat-card-subtitle>
              </mat-card-title-group>
          </mat-card-header>
      </mat-card> -->
  </div>

</body>
<app-footer></app-footer>   
