body {
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 226, 147);
    min-height: 100vh;
  }
h2{
  display: flex;
  justify-content: center;
  margin: 10px;
}
.turnos{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
  
}

.turnos button{
  margin-bottom: 15px;
  margin-left: 30px;

}