body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color: rgb(169, 226, 147);
    padding-bottom: 20px;
  }
  
  .main-content {
    padding: 20px;
    text-align: center;
  }